body{
    font-family: "Open Sans";
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(233, 233, 233);
}   

.section-1{
    background-color: #004175;
    border: 2px solid #89DEEF;;
    color: #ffff;
    padding: .25in;
}

h1{
    color: white;
    padding-left: 20px;
    font-family: "Open Sans";
}

h2{
    padding-left: 40px;
}

p{
    padding-left: 40px;
}

.dog-portfolios{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    flex-grow: 1;
    gap: 1px;
}

.img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: top;
}

span{
    display: inline-block;
    font-size: .75rem;
    gap: .5px;
    padding: 1%;
    background-color:#89DEEF;;
    border-radius: 30%;
    max-width: 75%;
}