body{
    border: 2px solid red
    font-family; "Open Sans"
}   

.section-1{
    background-color: #004175;
    border: 2px solid #89DEEF;;
    color: #ffff;
    padding: .25in;
}

h1{
    color: white;
    padding-left: 30px;
    font-family: "Open Sans";
}

.dog-grid{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #89DEEF;
}

.flex-footer-container{
    display: flex;
    flex-direction: row;

}

.footer-container{
    width: 50%
    height: 50px
}

h3{
    color: black;
    font-family; "Open Sans"
}
