body{
    font-family: "Open Sans";
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(233, 233, 233);
}   

.section-1{
    background-color: #004175;
    border: 2px solid #89DEEF;;
    color: #ffff;
    padding: .25in;
}

h1{
    color: white;
    padding-left: 30px;
    font-family: "Open Sans";
}

.dog-container{
    width:500px
    flex-wrap: wrap;
    flex-basis: auto; /* default auto */
}

.dog-container > div {
    flex: 1 1 150px;
}

.dog-grid {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; /* default auto */
    justify-content: space-around;
}

.dog-grid > div {
    flex: 1 1 150px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #89DEEF;
    border-radius: 30%;
}

.flex-footer-container{
    border: 2px solid red;
    display: flex;
    flex-direction: row;

}

.footer-container{
    width: 50%
    height: 50px
}

h3{
    color: black;
    font-family; "Open Sans"
    align-items: center
}